[project]
	description = A fork of https://github.com/Homebrew/linuxbrew for development purposes. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hanxue (hanxue)
[access "refs/for/refs/*"]
	read = group user/Hanxue (hanxue)
	push = group user/Hanxue (hanxue)
	label-Code-Review = -2..+2 group user/Hanxue (hanxue)
	label-Verified = -1..+1 group user/Hanxue (hanxue)
	rebase = group user/Hanxue (hanxue)
	removeReviewer = group user/Hanxue (hanxue)
	submit = group user/Hanxue (hanxue)
[access "refs/heads/*"]
	read = group user/Hanxue (hanxue)
	create = group user/Hanxue (hanxue)
	push = +force group user/Hanxue (hanxue)
	pushMerge = group user/Hanxue (hanxue)
[access "refs/tags/*"]
	push = +force group user/Hanxue (hanxue)
	pushTag = group user/Hanxue (hanxue)
	pushSignedTag = group user/Hanxue (hanxue)
